body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
* {
  box-sizing: border-box;
}
p,
h1,
h2 h3 h4 h5 h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
}
.container {
  max-width: 288px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

/* <!-- Header main--> */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo {
  margin-right: 76px;
  padding: 24px 0;
}
.logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.header-main {
  display: flex;
  gap: 40px;
}

.nav-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.nav-item:hover {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-bottom {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-bottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

/*    <!-- Contacts --> */
.adress {
  font-style: normal;
  margin-left: auto;
}
.adress-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:hover {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-list {
  display: flex;
  gap: 40px;
}
/*     <!-- Main Content --> */

.solutions {
  background-color: #2e2f42;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 16px 200px 16px;
}

.header-content {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 72px;
}
.button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

/* ADVANTAGES */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages {
  padding: 120px 0;
}
.advantages-icons {
}

.icons-box {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.advantages-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.advantages-list-item {
  max-width: 264px;
}

.title-advantages {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  margin-top: 0;
}
.advantages-content {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/*   <!-- Personal --> */
.personal {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.title-team {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  background-color: #f4f4fd;
  margin-bottom: 72px;
  margin-top: 0;
}
.personal-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  widows: 100%;
}
.personal-img {
  max-width: 100%;
}
.personal-list-element {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 100%;
}
.personal-name {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0;
}
.personal-role {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 8px;
}
.personal-name-role {
  padding: 32px 0;
}
.soc-icons {
  fill: #f4f4fd;
}

.soc-icons-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.soc-icons-box {
  margin-top: 8px;
  margin-bottom: 32px;
}
.soc-icon-elements {
  width: 40px;
  height: 40px;
}
.soc-icon-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon-link:focus {
  background-color: #404bbf;
}
.soc-icon-link:hover {
  background-color: #404bbf;
}
/* <!-- Portfolio --> */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  margin-top: 0;

  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-image {
  width: 288px;
  height: 280px;
}
.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
  align-items: center;
}
.portfolio-list {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 0;
}
.portfolio-list-element {
  margin-top: 0;
  width: 100%;
}
.portfolio-elements {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-class {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio-list-element :hover .portfolio-slide {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-portfolio {
  position: relative;
  overflow: hidden;
}

.portfolio-slide {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*     <!-- Footer --> */
.footer {
  background-color: #2e2f42;
  padding: 96px 16px;
  align-items: baseline;
}
.footer-container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-content {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 288px;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  height: 72px;
}

.footer-social-container {
  margin-bottom: 72px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  flex-direction: column;
}
.footer-soc-icons-list {
  display: flex;
  gap: 16px;
}
.footer-container-only {
}
.footer-p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-soc-icon-elements {
  height: 40px;
  width: 40px;
}

.footer-soc-icon-link {
  width: 100%;
  min-height: 100%;
  background: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon-link:hover {
  background-color: #31d0aa;
}

.footer-soc-icon-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icons {
  font: #f4f4fd;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.footer-form-block {
  display: flex;
  flex-direction: column;
}

.modal-link {
  color: #4d5ae5;
}

.form-name {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  text-align: center;
  font-size: 16;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover {
  background-color: #404bbf;
}
.subscribe-btn:focus {
  background-color: #404bbf;
}
.footer-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.footer-label {
  display: flex;
  gap: 24px;
}

.footer-input {
  color: #fff;
}
.btn-ico {
  margin-left: 16px;
  fill: #ffffff;
}
/* MODAL */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2e2f4266;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #e7e9fc;
  color: #ffffff;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  background-color: #404bbf;
  border: none;
}
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icon {
  fill: #2e2f42;
  stroke: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-icon {
  fill: #ffffff;
}

.modal-btn:focus .modal-icon {
  fill: #ffffff;
}

.modal-text-p {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .lable-icon {
  fill: #4d5ae5;
}

.send-buttom {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-buttom:hover {
  background-color: #404bbf;
}
.send-buttom:focus {
  background-color: #404bbf;
}
.modal-field {
  margin-bottom: 8px;
}

.bottom-field {
  margin-bottom: 16px;
}

.bottom-modal-field {
  margin-bottom: 24px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.04em;
}

.lable-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-div {
  position: relative;
  margin-bottom: 16px;
}

.modal-text {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  line-height: 1.17;
  padding: 8px 16px;
  display: inline-block;
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.check-text {
  color: #8e8f99;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  display: inline-block;
}

.modal-span {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.checkbox-input {
}
.checkbox-input:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.checkbox-icon {
}

@media screen and (min-width: 320px) {
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .adwantages {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advantages-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .advantages-list {
    display: flex;
    gap: 72px 24px;
  }

  .personal-list-element {
    width: calc((100% - 24px) / 2);
  }
  .personal-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .personal-img {
    margin: 0 auto;
    width: 100%;
  }

  .portfolio-list-element {
    width: calc((100% - 24px) / 3);
  }

  .portfolio-image {
    margin: 0 auto;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .footer-container {
    column-gap: 24px;
    margin-left: 108px;
    text-align: left;
  }
  .footer-form-block {
    display: flex;
    align-items: center;
  }
  .footer-p {
    display: flex;
    flex-direction: column;
  }
  .footer-logo {
    flex-direction: row;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
  .tablet-box {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .solutions {
    padding: 112px 136px 52px 136px;
    max-width: 768px;
    margin-bottom: 36px;
    margin: 0 auto;
  }
  .button {
    margin-bottom: 128px;
  }
  .header-content {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
}

/* DESKTOP */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .advantages {
    padding: 120px 0;
  }
  .advantages-icons {
  }

  .icons-box {
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .advantages-list {
    display: flex;
    gap: 24px;
  }
  .advantages-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    max-width: 264px;
  }

  .personal-list-element {
    width: calc((100% - 72px) / 4);
  }
  .personal-list {
    display: flex;
    gap: 24px;
  }

  .personal-img {
    margin: 0 auto;
    width: 100%;
  }

  .portfolio-list-element {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-image {
    width: 360px;
    height: 300px;
  }
  .solutions {
    padding: 188px 0;
    min-width: 1440px;
  }
  .button {
    margin-bottom: 188px 472px 48px 472px;
  }
}
